{{define "block"}}
    <section>
      <ul>
        <li>Data: {{.Data}}</li>
        <li>Hash: {{.Hash}}</li>
        {{if .PrevHash}}
          <li>PrevHash: {{.PrevHash}}</li>
        {{end}}
      </ul>
    </section>
{{end}}
